h1 {
  color: #191921;
}

textarea {
  resize: none;
  min-height: 280px !important;
}

textarea:disabled {
  background-color: #ffffff !important;
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  height: 70vh;
  overflow-y: auto;
}

button:disabled {
  background-color: #7a99ad !important;
  border: none !important;
  pointer-events: all !important;
  cursor: not-allowed;
}

.btn-disabled {
  background-color: #7a99ad !important;
  border: none !important;
  pointer-events: all !important;
  cursor: not-allowed;
}

@media (min-width: 720px) {
  .tweets-list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.tweets-list>.tweet-option {
  cursor: pointer;
  transition: all 0.4s;
}

.tweets-list>.tweet-option:hover {
  background-color: #1da0f22b !important;
}

.tweets-list>.tweet-option.selected {
  background-color: #1da0f225 !important;
  border: solid 1.5px #1da0f23e !important;
}

.tweet-highlight {
  color: #1da1f2;
}

.tweet-bold {
  font-weight: bold;
}

.scroll-down-btn {
  font-size: 2.5rem;
  cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.mb-6 {
  margin-bottom: 10rem;
}

.fs-custom {
  font-size: 1.1rem;
}

.fs-smallest {
  font-size: 0.8rem;
}

.modal.fade.show {
  background-color: #0000008b;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #adc1c9;
  border-radius: 5px;
}

.tweets-list::-webkit-scrollbar {
  height: 5px;
}

.tweets-list::-webkit-scrollbar-thumb {
  background: #adc1c9;
  border-radius: 5px;
}
